// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #6c3484;
  --ion-color-primary-rgb: 108, 52, 132;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #5f2e74;
  --ion-color-primary-tint: #7b4890;

  /** secondary **/
  --ion-color-secondary: #a687b7;
  --ion-color-secondary-rgb: 166, 135, 183;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #9277a1;
  --ion-color-secondary-tint: #af93be;

  /** tertiary **/
  --ion-color-tertiary: #e0d9e9;
  --ion-color-tertiary-rgb: 224, 217, 233;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #c5bfcd;
  --ion-color-tertiary-tint: #e3ddeb;

  /** yellow **/
  --ion-color-yellow: #f9b233;
  --ion-color-yellow-rgb: 249, 178, 51;
  --ion-color-yellow-contrast: #ffffff;
  --ion-color-yellow-contrast-rgb: 255, 255, 255;
  --ion-color-yellow-shade: #d1c9bb;
  --ion-color-yellow-tint: #e0dcd3;

  /** pink **/
  --ion-color-pink: #e93f8a;
  --ion-color-pink-rgb: 233, 63, 138;
  --ion-color-pink-contrast: #ffffff;
  --ion-color-pink-contrast-rgb: 255, 255, 255;
  --ion-color-pink-shade: #bea2ae;
  --ion-color-pink-tint: #dfd3d8;

  /** lightblue **/
  --ion-color-lightblue: #6dc4cc;
  --ion-color-lightblue-rgb: 109, 196, 204;
  --ion-color-lightblue-contrast: #000000;
  --ion-color-lightblue-contrast-rgb: 0, 0, 0;
  --ion-color-lightblue-shade: #60acb4;
  --ion-color-lightblue-tint: #7ccad1;

  /** success-light **/
  --ion-color-success-light: #54b880;
  --ion-color-success-light-rgb: 84, 184, 128;
  --ion-color-success-light-contrast: #000000;
  --ion-color-success-light-contrast-rgb: 0, 0, 0;
  --ion-color-success-light-shade: #4aa271;
  --ion-color-success-light-tint: #65bf8d;

  /** success **/
  --ion-color-success: #3bac34;
  --ion-color-success-rgb: 59, 172, 52;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #34972e;
  --ion-color-success-tint: #4fb448;

  /** warning **/
  --ion-color-warning: #f4b436;
  --ion-color-warning-rgb: 244, 180, 54;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #d79e30;
  --ion-color-warning-tint: #f5bc4a;

  /** warning-dark **/
  --ion-color-warning-dark: #ec7431;
  --ion-color-warning-dark-rgb: 236, 116, 49;
  --ion-color-warning-dark-contrast: #000000;
  --ion-color-warning-dark-contrast-rgb: 0, 0, 0;
  --ion-color-warning-dark-shade: #d0662b;
  --ion-color-warning-dark-tint: #ee8246;

  /** danger-light **/
  --ion-color-danger-light: #e8542f;
  --ion-color-danger-light-rgb: 232, 84, 47;
  --ion-color-danger-light-contrast: #ffffff;
  --ion-color-danger-light-contrast-rgb: 255, 255, 255;
  --ion-color-danger-light-shade: #cc4a29;
  --ion-color-danger-light-tint: #ea6544;

  /** danger **/
  --ion-color-danger: #e4342c;
  --ion-color-danger-rgb: 228, 52, 44;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #c92e27;
  --ion-color-danger-tint: #e74841;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #9a98a3;
  --ion-color-medium-rgb: 154, 152, 163;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #88868f;
  --ion-color-medium-tint: #a4a2ac;

  /** light **/
  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 255, 255, 255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #e0e0e0;
  --ion-color-light-tint: #ffffff;

  /** light-dark **/
  --ion-color-light-dark: #eeeeee;
  --ion-color-light-dark-rgb: 238, 238, 238;
  --ion-color-light-dark-contrast: #333333;
  --ion-color-light-dark-contrast-rgb: 0, 0, 0;
  --ion-color-light-dark-shade: #bebebe;
  --ion-color-light-dark-tint: #eeeeee;

  /** app-background **/
  --ion-color-app-background: #f4f3f3;
  --ion-color-app-background-rgb: 244, 243, 243;
  --ion-color-app-background-contrast: #000000;
  --ion-color-app-background-contrast-rgb: 0, 0, 0;
  --ion-color-app-background-shade: #d7d6d6;
  --ion-color-app-background-tint: #f5f4f4;

  /** black **/
  --ion-color-black: #000000;
  --ion-color-black-rgb: 0, 0, 0;
  --ion-color-black-contrast: #ffffff;
  --ion-color-black-contrast-rgb: 255, 255, 255;
  --ion-color-black-shade: #000000;
  --ion-color-black-tint: #1a1a1a;
}

.ion-color-lightblue {
  --ion-color-base: var(--ion-color-lightblue);
  --ion-color-base-rgb: var(--ion-color-lightblue-rgb);
  --ion-color-contrast: var(--ion-color-lightblue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-lightblue-contrast-rgb);
  --ion-color-shade: var(--ion-color-lightblue-shade);
  --ion-color-tint: var(--ion-color-lightblue-tint);
}

.ion-color-success-light {
  --ion-color-base: var(--ion-color-success-light);
  --ion-color-base-rgb: var(--ion-color-success-light-rgb);
  --ion-color-contrast: var(--ion-color-success-light-contrast);
  --ion-color-contrast-rgb: var(--ion-color-success-light-contrast-rgb);
  --ion-color-shade: var(--ion-color-success-light-shade);
  --ion-color-tint: var(--ion-color-success-light-tint);
}

.ion-color-warning-dark {
  --ion-color-base: var(--ion-color-warning-dark);
  --ion-color-base-rgb: var(--ion-color-warning-dark-rgb);
  --ion-color-contrast: var(--ion-color-warning-dark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-warning-dark-contrast-rgb);
  --ion-color-shade: var(--ion-color-warning-dark-shade);
  --ion-color-tint: var(--ion-color-warning-dark-tint);
}

.ion-color-danger-light {
  --ion-color-base: var(--ion-color-danger-light);
  --ion-color-base-rgb: var(--ion-color-danger-light-rgb);
  --ion-color-contrast: var(--ion-color-danger-light-contrast);
  --ion-color-contrast-rgb: var(--ion-color-danger-light-contrast-rgb);
  --ion-color-shade: var(--ion-color-danger-light-shade);
  --ion-color-tint: var(--ion-color-danger-light-tint);
}

.ion-color-black {
  --ion-color-base: var(--ion-color-black);
  --ion-color-base-rgb: var(--ion-color-black-rgb);
  --ion-color-contrast: var(--ion-color-black-contrast);
  --ion-color-contrast-rgb: var(--ion-color-black-contrast-rgb);
  --ion-color-shade: var(--ion-color-black-shade);
  --ion-color-tint: var(--ion-color-black-tint);
}

.ion-color-yellow {
  --ion-color-base: var(--ion-color-yellow);
  --ion-color-base-rgb: var(--ion-color-yellow-rgb);
  --ion-color-contrast: var(--ion-color-yellow-contrast);
  --ion-color-contrast-rgb: var(--ion-color-yellow-contrast-rgb);
  --ion-color-shade: var(--ion-color-yellow-shade);
  --ion-color-tint: var(--ion-color-yellow-tint);
}

.ion-color-pink {
  --ion-color-base: var(--ion-color-pink);
  --ion-color-base-rgb: var(--ion-color-pink-rgb);
  --ion-color-contrast: var(--ion-color-pink-contrast);
  --ion-color-contrast-rgb: var(--ion-color-pink-contrast-rgb);
  --ion-color-shade: var(--ion-color-pink-shade);
  --ion-color-tint: var(--ion-color-pink-tint);
}

.ion-color-light-dark {
  --ion-color-base: var(--ion-color-light-dark);
  --ion-color-base-rgb: var(--ion-color-light-dark-rgb);
  --ion-color-contrast: var(--ion-color-light-dark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-light-dark-contrast-rgb);
  --ion-color-shade: var(--ion-color-light-dark-shade);
  --ion-color-tint: var(--ion-color-light-dark-tint);
}

.ion-color-app-background {
  --ion-color-base: var(--ion-color-app-background);
  --ion-color-base-rgb: var(--ion-color-app-background-rgb);
  --ion-color-contrast: var(--ion-color-app-background-contrast);
  --ion-color-contrast-rgb: var(--ion-color-app-background-contrast-rgb);
  --ion-color-shade: var(--ion-color-app-background-shade);
  --ion-color-tint: var(--ion-color-app-background-tint);
}
